body, html {
  margin: 0;
  padding: 0;
  height: 100%; /* Garante que o body ocupe toda a altura */
}

#root {
  height: 100%; /* Garante que o root ocupe toda a altura */
}

.app-container {
  display: flex;
  flex-direction: column; /* Organiza os elementos verticalmente */
  min-height: 100vh; /* Garante que o contêiner ocupe toda a altura da janela */
}

.content {
  flex: 1; /* Faz o conteúdo principal ocupar o espaço restante */
}